adf/pipeline/Adventure_Work.json
{
  "name": "Adventure_Work",
  "properties": {
    "activities": [
      {
        "name": "ForEach",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Git_Config_parameters",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('Git_Config_parameters').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Dynamic_Copy",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "storeSettings": {
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              },
              "inputs": [
                {
                  "referenceName": "adv_http_ds",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_rel_url": {
                      "value": "@item().p_rel_url",
                      "type": "Expression"
                    }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "adv_gen2_ds",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_sink_folder": {
                      "value": "@item().p_sink_folder",
                      "type": "Expression"
                    },
                    "p_file_name": {
                      "value": "@item().p_file_name",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ]
        }
      },
      {
        "name": "Git_Config_parameters",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "storeSettings": {
              "type": "AzureBlobFSReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "JsonReadSettings"
            }
          },
          "dataset": {
            "referenceName": "git_json",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      }
    ],
    "annotations": []
  }
}